:root {
  --clock-bg: white;
  --clock-text: #333;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

.dark-mode {
  --clock-bg: #333;
  --clock-text: #f0f0f0;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

.flip-clock {
  display: inline-block;
  margin-right: 20px;
  height: 110px;
  min-width: 86px;
  perspective: 240px;
  perspective-origin: 50% 50%;
}

.flip-clock div {
  position: absolute;
  color: var(--clock-text);
  background: var(--clock-bg);
  min-width: 86px;
  height: 50px;
  font-size: 57px;
  text-align: center;
  margin: 6px;
  line-height: 100px;
  overflow: hidden;
  box-shadow: 3px 3px 3px var(--shadow-color);
  backface-visibility: hidden;
  transition: z-index 0s 0.3s;
}

.flip-top {
  border-radius: 9px 9px 0px 0px;
  top: 0px;
}

.flip-bottom {
  border-radius: 0px 0px 9px 9px;
  top: 50px;
  border-top: 1px solid transparent;
  transform-origin: 50% 0%; /* Ensure bottom flips from its top edge */
}

.flip-bottom span {
  display: block;
  margin-top: -50px;
}

.flip-front {
  z-index: 2;
}

.flip-back {
  z-index: 1;
}

.flip-top.flip-front {
  transform-origin: 50% 100%;
}
.flip-bottom.flip-front {
  transform-origin: 50% 0%;
}

.flip-clock .hidden {
  opacity: 0;
}

.flip-clock .active {
  z-index: 3;
  transition: z-index 0s;
}

/* Start of Flip Clock small CSS */

.flip-clock.flipclock-small {
  margin-right: 10px;
  height: 60px;
  min-width: 43px;
}

.flip-clock.flipclock-small div {
  min-width: 43px;
  height: 25px;
  font-size: 27px;
  margin: 6px;
  line-height: 50px;
}

.flipclock-small .flip-top {
  border-radius: 4px 4px 0px 0px;
  top: 0px;
}

.flipclock-small .flip-bottom {
  border-radius: 0px 0px 4px 4px;
  top: 25px;
}

.flipclock-small .flip-bottom span {
  display: block;
  margin-top: -25px;
}

/* End of Flip Clock small CSS */

/* Start of Flip Clock medium CSS */

.flip-clock.flipclock-medium {
  margin-right: 15px;
  height: 85px;
  min-width: 64px;
}

.flip-clock.flipclock-medium div {
  min-width: 64px;
  height: 37px;
  font-size: 42px;
  margin: 6px;
  line-height: 75px;
}

.flipclock-medium .flip-top {
  border-radius: 6px 6px 0px 0px;
  top: 0px;
}

.flipclock-medium .flip-bottom {
  border-radius: 0px 0px 6px 6px;
  top: 37px;
}

.flipclock-medium .flip-bottom span {
  display: block;
  margin-top: -37px;
}

/* End of Flip Clock medium CSS */
